* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #c8d8e4;
}

:root {
    --buttonColor: #2b6777;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    height: 40px;  
    margin: 20px;
}

header button {
    padding: 5px;
    background-color: var(--buttonColor);
}

main {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    
}

main h1 {
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    height: 80px;
    text-align: center;
}

main button {
    width: 10%;
    height: 40px;
    margin-top: 20px;
    background-color: var(--buttonColor);
    font-weight: bold;
}

.quiz {
    display: none;
    flex-direction: column;
    align-items: center;
}

.question {
    width: 60%;
    margin-top: 100px;
    margin-bottom: 20px;
}

.answers {
    width: 60%;
}

.answers button {
    margin: 5px;
    padding: 5px;
    background-color: var(--buttonColor);
}

.quiz h3 {
    width: 60%;
    border-bottom: black;
    padding: 10px;
}

.all-done {
    display: none;
    flex-direction: column;
    align-items: center;
}

.all-done h2 {
    width: 60%;
    margin-top: 100px;
    margin-bottom: 20px;
}

.all-done p {
    width: 60%;
    margin-bottom: 20px;
}

.input-initials {
    margin-left: 5px;
    padding-right: 5px;
    padding-left: 5px;
    background-color: var(--buttonColor);
}

.highscores {
    display: none;
    flex-direction: column;
    align-items: center;
}

.highscores h2 {
    width: 60%;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.highscores ol {
    width: 60%;
}

.highscores ol li {
    background-color: #f2f2f2;
    margin: 5px;
    padding: 5px;
}

.highscores ul {
    display: flex;
    width: 60%;
    flex-direction: row;
}

.highscores button {
    margin: 5px;
    padding: 5px;
    background-color: var(--buttonColor);
}


